body {
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  gap: 8px;
}

header, .video-container, .controls, footer {
  width: 95%;
}

header, footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
  background-color: black;
  color: whitesmoke;
}

.logo img {
  max-width: 100px;
}

.video-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-container video {
  height: 480px;
  border-radius: 10px;
}

.controls {
  display: flex;
  border: none;
  border-radius: 10px;
  background-color: grey;
  align-items: center;
  justify-content: space-between;
}

button {
  flex: 1;
  background-color: rgb(83, 83, 83);
  color: white;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: bolder;
  padding: 16px;
  margin: 8px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(0, 0, 0);
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: whitesmoke;
}
